<configuration>
    <!-- 开启JMX管理日志 -->
	<jmxConfigurator />
	<!-- 输出到控制台 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 输出格式 -->
			<pattern>
				[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- error级别单独记录 -->
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>logs/monitor-error-today.log</file>
		<!-- 以day为单位自动回滚 -->  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>logs/monitor-error/monitor-error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
		    	<!-- or whenever the file size reaches 100MB -->  
		        <maxFileSize>600MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy>  
		<encoder>  
			<pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<!-- error级别过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>
		</filter>  
	</appender>

	<!-- info级别单独记录 -->
	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>logs/monitor-info-today.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<fileNamePattern>logs/monitor-info/monitor-info-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
		    	<!-- or whenever the file size reaches 100MB -->  
		        <maxFileSize>600MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy>  
		<encoder>  
			<pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>  
			<onMatch>ACCEPT</onMatch>  
			<onMismatch>DENY</onMismatch>
		</filter>  
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</root>
</configuration>